*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/core/common/build
/core/domain/build
/core/data/build
/core/ui/build
/feature/capture/build
/feature/annotation/build
/feature/upload/build
/feature/history/build
/feature/settings/build
